<header>
    <div class="row">
        <div class="large-8 columns">
            <div class="bc-siteTitle">Example Store</div>
        </div>
        <div class="large-4 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input name="search" type="text" placeholder="Search...">
                </div>
                <div class="small-2 columns">
                    <a href="#" class="bc-searchButton prefix">Go</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
</header>