// Search module, up the top-right

.m-search {
  position: relative;
}

.m-searchResults {

  @include panel;

  // By default, hide results from display.
  @include slideDownStart;

  // Position absolutely for desktop.
  @include desktop {
    position: absolute;
    top: 30px; // FIXME mobile
    width: 100%;
    margin: 0;
    // FIXME Urgh. Some kind of layering?
    z-index: 999;
  }

  // State class at module level.
  .is-searchResultsAvailable & {
    @include slideDownFinish;
  }

}